.header {
    position: fixed;
    width: calc(100% - 30px);
    top: 15px;
    left: 15px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 18px 0;
    box-shadow: 0 0 24px rgba(0,0,0,0.08);
    z-index: 10;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_logo {
        width: 150px;
    }
    &_nav {
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            li {
                color: var(--gray-5);
                font-size: 18px;
                cursor: pointer;
                transition: var(--transition);
                &:hover {
                    color: var(--primary-3);
                    font-weight: 700;
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .container {
            max-width: inherit;
            justify-content: center;
        }
        &_nav {
            display: none;
        }
    }
}


.swiper-pagination {
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 50%;
    transform: translateY(-50%);
    bottom: inherit !important;
    left: inherit !important;
    width: fit-content !important;
    &-bullet {
        margin: 0;
        width: 8px;
        height: 8px;
        border: 1px solid #9E84BB;
        opacity: 1;
        background-color: transparent;
        &-active {
            background-color: #9E84BB;
        }
    }
}

.home {
    &-content {
        padding-top: 110px;
        margin-bottom: 110px;
        .container {
            display: flex;
        }
        &_main {
            width: 70%;
        }
        &_banner {
            margin-bottom: 32px;
            .row {
                margin-left: -8px;
                margin-right: -8px;
                >div {
                    padding-left: 8px;
                    padding-right: 8px;
                }
            }
            &_top, &_bottom {
                border-radius: 12px;
                overflow: hidden;
                box-shadow: 0 0 24px rgba(0,0,0,0.08);
            }
            &_bottom {
                position: relative;
                width: 100%;
                padding-bottom: 27.51%;
                margin-top: 16px;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
            .swiper-pagination {
                right: 8px !important;
            }
        }
        &_side {
            width: 30%;
            padding-left: 30px;
        }
    }
    &-banner {
        &_item {
            width: 100%;
            padding-bottom: 56.15%;
            position: relative;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
            h2 {
                font-size: 20px;
                font-weight: 700;
                text-shadow: 0 2px 4px rgba(0,0,0,0.25);
                padding-bottom: 8px;
                margin-bottom: 8px;
                position: relative;
                color: var(--white);
                &::after {
                    position: absolute;
                    content: "";
                    width: 40px;
                    height: 2px;
                    background-color: #F3994F;
                    left: 0;
                    bottom: 0;
                }
            }
            p {
                margin: 0;
                text-shadow: 0 2px 4px rgba(0,0,0,0.25);
                color: var(--white);
            }
        }
    }
    &-tab {
        display: flex;
        width: fit-content;
        border: 0;
        margin-bottom: 25px;
        position: static;
        background-color: transparent;
        box-shadow: none;
        padding: 0;
        .nav-link {
            padding: 12px 16px;
            color: #8F97A5;
            border-bottom: 1px solid #D4D9E2;
            &.active {
                border: 0;
                background-color: transparent;
                color: var(--primary-3);
                font-weight: 700;
                border-bottom: 1px solid var(--primary-3);
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 9px;
                    height: 5px;
                    background-image: url(../img/tab-triangle.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    &_discuss {
        padding: 16px 20px 24px;
        background-color: #EBEFF6;
        border-radius: 28px;
        margin-bottom: 24px;
        .home-tab {
            width: 100%;
            .nav-item {
                width: 50%;
            }
            .nav-link {
                width: 100%;
            }
        }
        &_content {
            margin-bottom: 28px;
        }
        &_link {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 14px;
            span {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                width: calc(100% - 8px - 16px);
                transition: var(--transition);
            }
            img {
                width: 16px;
            }
            &:hover {
                span {
                    color: var(--primary-3);
                    font-weight: 700;
                }
            }
        }
        .readmore {
            margin: 0 auto;
        }
    }
    &_ad {
        margin-bottom: 24px;
        border-radius: 12px;
        position: relative;
        width: 100%;
        padding-bottom: 60%;
        overflow: hidden;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    @media screen and (max-width: 991px) {
        &-content {
            .container {
                max-width: inherit;
            }
            &_side {
                padding-left: 20px;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &-content {
            .container {
                display: block;
            }
            &_main {
                width: 100%;
            }
            &_banner {
                &_top {
                    margin-bottom: 16px;
                }
                &_bottom {
                    display: none;
                }
            }
            &_side {
                width: 100%;
            }
        }
        &-tab {
            width: 100%;
            .nav-item, .nav-link {
                width: 100%;
            }
        }
        &_discuss {
            .home-tab {
                .nav-item {
                    width: 100%;
                }
            }
        }
    }
}

.project {
    padding: 20px;
    border-radius: 28px;
    background-color: #EBEFF6;
    margin-bottom: 32px;
    &_content {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        &_pic {
            width: 35%;
            .swiper-pagination {
                left: 8px !important;
                right: inherit !important;
            }
        }
        &_text {
            width: 65%;
            padding-left: 24px;
        }
        &_link {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            padding: 4px 0;
            &:last-child {
                margin-bottom: 0;
            }
            >span {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                overflow: hidden;
                width: calc(100% - 56px);
                color: var(--gray-5);
                transition: var(--transition);
            }
            &:hover {
                >span {
                    color: var(--primary-3);
                }
            }
        }
        &_read {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 4px;
            img {
                width: 16px;
            }
            span {
                font-size: 14px;
                color: var(--gray-5);
            }
        }
        .readmore {
            margin: 20px auto 0;
        }
    }
    &_swiper {
        &_pic {
            width: 100%;
            padding-bottom: 75.2%;
            position: relative;
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 0 0 24px rgba(0,0,0,0.08);
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
    }
    @media screen and (max-width: 767px) {
        &_content {
            display: block;
            &_pic {
                width: 100%;
                margin-bottom: 24px;
            }
            &_text {
                width: 100%;
                padding: 0;
            }
        }
    }
}

.readmore {
    color: var(--secondary-1);
    font-size: 14px;
    padding-right: 15px;
    border-bottom: 1px soldi var(--secondary-1);
    position: relative;
    width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--secondary-1);
    display: block;
    transition: var(--transition);
    &::after {
        position: absolute;
        content: "";
        width: 1px;
        height: 6px;
        background-color: var(--secondary-1);
        bottom: 0;
        right: 0;
        transform: rotate(-55deg);
        transform-origin: bottom;
    }
    &:hover {
        color: var(--primary-3);
        border-color: var(--primary-3);
        &::after {
            background-color: var(--primary-3);
        }
    }
}

.theme {
    margin-bottom: 32px;
    &_content {
        .row {
            margin-left: -20px;
            margin-right: -20px;
            >div {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h2 {
            font-size: 26px;
            font-weight: 700;
            margin: 0;
            color: #4C1F81;
        }
    }
    &_item {
        padding-top: 15px;
        padding-left: 15px;
        display: block;
        &_inner {
            border-radius: 12px;
            background-color: #EBEFF6;
            transition: var(--transition);
        }
        &_pic {
            width: 100%;
            padding-bottom: 75%;
            border-radius: 12px;
            box-shadow: 0 0 24px rgba(0,0,0,0.08);
            overflow: hidden;
            position: relative;
            transform: translate(-15px, -15px);
            >img {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &_text {
            display: flex;
            align-items: flex-end;
            padding: 0 15px 15px;
            gap: 10px;
            h3 {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                font-size: 16px;
                margin: 0;
                color: var(--gray-5);
                width: calc(100% - 24px - 10px);
                line-height: 1.6;
                transition: var(--transition);
            }
            img {
                width: 24px;
            }
        }
        &:hover {
            .theme_item {
                &_text {
                    h3 {
                        color: var(--primary-3);
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        &_content {
            .row {
                margin-left: -10px;
                margin-right: -10px;
                >div {
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }        
    }
}

.footer {
    background-color: #9E84BB;
    padding: 40px 0;
    a {
        transition: var(--transition);
        &:hover {
            opacity: 0.5;
        }
    }
    &_top {
        padding-bottom: 35px;
        border-bottom: 1px solid rgba(255,255,255,0.35);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    &_info {
        >img {
            width: 235px;
            margin-bottom: 40px;
        }
        ul {
            li {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 16px;
                img {
                    width: 20px;
                }
                p {
                    color: var(--white);
                    margin: 0;
                }
                .divide {
                    width: 1px;
                    height: 14px;
                    background-color: rgba(255,255,255,0.35);
                }
            }
        }
    }
    &_nav {
        display: flex;
        gap: 40px;
        &_title {
            color: var(--white);
            font-size: 18px;
            font-weight: 700;
        }
        li {
            margin-bottom: 15px;
            &.footer_nav_title {
                margin-bottom: 20px;
            }
            a {
                font-size: 16px;
                color: var(--white);
            }
        }
    }
    &_verify {
        width: 140px;
    }
    &_bottom {
        padding-top: 25px;
        display: flex;
        align-items: center;
        p {
            margin: 0;
            font-size: 14px;
            color: var(--white);
            padding-left: 20px;
        }
    }
    &_social {
        display: flex;
        align-items: center;
        padding-right: 20px;
        position: relative;
        gap: 12px;
        a {
            img {
                width: 20px;
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: 1px;
            height: 14px;
            background-color: rgba(255,255,255,0.35);
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
    @media screen and (max-width: 767px) {
        padding: 60px 20px;
        &_top {
            display: block;
        }
        &_bottom {
            display: block;
            p {
                margin-top: 20px;
                padding-left: 0;
            }
        }
        &_social {
            &::after {
                display: none;
            }
        }
        &_verify {
            margin-top: 40px;
        }
    }
}